body {
  font-family: sans-serif;
  display: flex;
}

h1 {
  color: red;
  font-family: serif;
  font-weight: 600;
}

h2 {
  font-weight: 300;
}

.stat {
  align-items: center;
  display: flex;
  min-width: 300px;
}

.side-image {
  background-image: url(https://images.blogthings.com/thelollipoptest/lollipop-5.jpg);
  height: 300px;
  margin: 20px;
  width: 300px;
}
